.venv
__pycache__
*.pyc
.git
.cog
.env
.env.*
test_images
test.ps1
*.png
replicate_timed_results.json
script/check_token.sh
script/cog_predict_test.sh
script/cog_Linux_x86_64
script/install_cog*.sh

example.jpg
